body {
  margin: 0;

  background-color: $brand-dark-grey;

  color: $brand-light-grey;

  font-family: sans-serif;
}

a {
  color: $brand-light-grey;
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  margin: 0;

  padding-bottom: $gutter;
}
