@import 'variables';

body {
  margin: 0;

  background-color: $brand-dark-grey;

  color: $brand-light-grey;

  font-family: sans-serif;
}

a {
  text-decoration: none;

  color: $brand-light-grey;
}
