.outer-container {
  width: 100%;
  max-width: $max-content-width;

  margin: auto;
}

.navbar-right__page-options {
  display: none;
}

.content-photo__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0;
}

.camera-details {
  width: 100%;
  max-width: $max-content-width;
}

.footer-article {
  flex-direction: column;

  &__image {
    text-align: center;
  }

}

.content-photo__container__image {
  width: 75vw;

  padding: 0;
}

.content-photo__container {
  display: flex;
  flex-direction: column;

  padding: 0;
}

.content-photo__ul {
  width: 75vw;

  &-items {
    text-align: left;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;

  width: 75vw;

  align-items: center;
  justify-content: center;
}
